<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Seller_e_shop.My.MySettings.eshopConnectionString"
            connectionString="Data Source=DESKTOP-J6FMQ4C;Initial Catalog=eshop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Seller_e_shop.My.MySettings.hotelConnectionString"
            connectionString="Data Source=DESKTOP-J6FMQ4C;Initial Catalog=hotel;User ID=sa;Password=erie"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
